.corporateVideoHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;

  h2 {
    width: 30%;
    text-align: start;
  }
  p {
    width: 70%;
    text-align: justify;
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;

    h2 {
      width: 100%;
      text-align: center;
    }

    p {
      width: 100%;
    }
  }
}
.the-company-video {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 20px;

  @media screen and (max-width: 1024px) {
    margin-top: 3rem;
  }
}
