.country-pop-up {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  width: 550px;
  background-color: rgba(32, 32, 32, 0.95);
  backdrop-filter: blur(30px);

  z-index: 1300;

  padding: 1.5rem;
  overflow-y: auto;

  @media screen and (max-width: 1024px) {
    width: 100%;
    overflow-y: auto;
  }

  .country-pop-up-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    text-align: justify;

    .country-close-icon {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      cursor: pointer;
    }

    .country-pop-up-header {
      display: flex;
      align-items: center;
      gap: 1rem;

      .country-pop-up-title {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h3 {
          text-align: start;
        }

        h5 {
          text-align: start;
        }
      }
    }

    .country-pop-up-body {
      height: 400px;
    }
  }
}

.country-pop-up-img-wrapper {
  display: flex;
  justify-content: center;
  min-width: 197px;
  height: 214px;
  overflow: hidden;

  border-radius: 15px;
  background-color: $background;

  @media screen and (max-width: 431px) {
    min-width: 131px;
    height: 143px;
  }

  .country-pop-up-img {
    height: 130%;
  }
}

.country-pop-up-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 1.5rem;
}
