.background {
  background-image: url("./about-us.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .bg-gradient {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);

    .section-link-div {
      color: white;

      .section-link-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: end;

        max-width: 1366px;
        margin: auto;
        padding: 6rem 3rem;

        .text {
          z-index: 2;
          display: flex;
          flex-direction: column;

          width: 70%;
          text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);

          .title {
            font-size: 40px;
          }

          .desc {
            font-size: 20px;
            text-align: justify;
            margin: 1rem 0;
          }
        }

        .link-div {
          display: flex;
          align-items: center;
          height: fit-content;

          .link {
            margin-right: 1rem;
          }

          .link-arrow {
            filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(78deg)
              brightness(102%) contrast(102%);
            width: 30px;
          }
        }

        .link-div:hover {
          filter: invert(67%) sepia(87%) saturate(825%) hue-rotate(341deg)
            brightness(99%) contrast(92%);
          transition: 0.2s;
        }
      }
    }
  }
}
