$primary: #f26f27;
$secondary: #f2a327;
$tertiary: #323232;
$background: white;

.hero-background {
  //   background-image: url("/products/pcmo-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .hero-gradient {
    // background-color: rgba(32, 32, 32, 0.2);
    // backdrop-filter: blur(1px);
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.2)
    );

    .hero-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //   align-items: space-between;
      //   gap: 20rem;

      max-width: 1366px;
      height: calc(100vh - 86px);
      min-height: 265px;
      margin: auto;
      padding: 7rem 3rem;

      @media screen and (max-width: 1024px) {
        padding: 7rem 1rem;
      }

      .hero-crumble {
        display: flex;
        align-items: center;
      }

      .hero-text-container {
        z-index: 2;
        display: flex;
        flex-direction: column;

        width: 70%;

        @media screen and (max-width: 1024px) {
          width: 100%;
        }

        .hero-title {
          background: linear-gradient(to right, $primary, $secondary);
          background-clip: $primary;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          width: fit-content;

          span {
            color: $primary;
          }
        }

        .hero-desc {
          text-align: justify;
          margin: 1rem 0;

          span {
            color: $primary;
          }
        }
      }
    }
  }
}

.hero-logo {
  width: 40%;

  @media screen and (max-width: 1024px) {
    width: 50%;
  }

  @media screen and (max-width: 768px) {
    width: 70%;
  }
}
