$primary: #f26f27;
$secondary: #f2a327;
$tertiary: #323232;
$background: white;

.the-company-section-background {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;

  .the-company-section-wrapper {
    display: flex;
    max-width: 1366px;
    padding: 7rem 3rem;

    @media screen and (max-width: 768px) {
      padding: 7rem 1rem;
    }

    .the-company-about-us {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 2rem;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      .about-us-header {
        display: flex;
        align-items: center;
        gap: 2rem;

        h2 {
          display: flex;
          width: fit-content;
          font-family: "GilroyMedium", sans-serif;
          color: black;
        }

        hr {
          height: 2px;
          width: 30%;
          background: black;
          border: 1px solid black;
        }
      }

      p {
        text-align: justify;
        color: black;
      }
    }
  }
}
