$primary: #f26f27;
$secondary: #f2a327;
$tertiary: #323232;
$background: white;

.the-company-section-background {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;

  .the-company-section-wrapper {
    display: flex;
    max-width: 1366px;
    padding: 7rem 3rem;

    @media screen and (max-width: 768px) {
      padding: 7rem 1rem;
    }

    .the-company-about-us {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 2rem;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      .about-us-header {
        display: flex;
        align-items: center;
        gap: 2rem;

        h2 {
          display: flex;
          width: fit-content;
          font-family: "GilroyMedium", sans-serif;
          color: black;
        }

        hr {
          height: 2px;
          width: 30%;
          background: black;
          border: 1px solid black;
        }
      }

      p {
        text-align: justify;
        color: black;
      }
    }
  }
}

.the-company-section-2-background {
  display: flex;
  justify-content: center;
  background-color: #ffffff;

  .the-company-section-2-wrapper {
    display: flex;
    max-width: 1366px;
    padding: 0 3rem 7rem 3rem;
    gap: 2rem;

    .vision-mission-cards-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .vision-mission-card {
        display: flex;
        flex-direction: column;
        color: #3d3d3d;
        width: 330px;
        padding: 1rem;
        border: 1px solid #b1b1b1;
        border-radius: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: relative;
        bottom: 0;

        &:hover {
          border: 1px solid #f26f27;
          transition: 0.5;
        }

        .vision-mission-header {
          display: flex;
          padding: 1rem 0;

          h4 {
            margin-left: 1rem;
            font-family: "GilroyMedium", sans-serif;
            background: linear-gradient(to right, $primary, $secondary);
            background-clip: $primary;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
          }
        }

        .vision-mission-desc {
          text-align: justify;
        }
      }
    }
  }
}
