$primary: #f26f27;
$secondary: #f2a327;
$tertiary: #323232;
$background: white;

.home-sec2 {
  background-color: $background;

  .home-sec2-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4rem;

    max-width: 1366px;
    margin: auto;
    padding: 6rem 3rem;

    @media screen and (max-width: 1024px) {
      padding: 5rem 1rem;
      align-items: center;
    }

    .home-sec2-text {
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      margin: auto;
      color: black;
      width: 100%;
      gap: 2rem;

      @media screen and (max-width: 1024px) {
        align-items: center;
      }

      .home-sec2-title {
        text-align: center;
      }

      .home-sec2-desc {
        text-align: justify;
        width: 50%;

        @media screen and (max-width: 1024px) {
          width: 100%;
          text-align: center;
        }

        span {
          background: linear-gradient(to right, $primary, $secondary);
          background-clip: $primary;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }
      }
    }

    .home-sec2-logos-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 4rem;
      width: 100%;
      flex-wrap: wrap;

      .home-sec2-link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-align: center;
        color: black;

        .home-sec2-logo {
          height: 60px;
          object-fit: contain;
          filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(78deg)
            brightness(0%) contrast(102%);
          transition: 0.2s;

          &:hover {
            filter: none;
            transition: 0.2s;
          }
        }
      }
    }
  }
}
