.nav-card {
  max-width: 124px;
  max-height: 192px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  outline: 2px solid #f26e2700;

  &.carousel-card {
    max-width: 180px;
    max-height: 280px;
  }

  .nav-card-img {
    height: 100%;
    width: 100%;
    min-width: 125px;
    min-height: 180px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .nav-card-overlay {
    width: 124px;
    height: 192px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 1px rgba(242, 110, 39, 0) inset;

    &.carousel-card-overlay {
      width: 180px;
      height: 280px;
    }

    .nav-title {
      position: absolute;
      bottom: 0;
      height: 60px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      border-radius: 0 0 10px 10px;

      background-color: #32323249;
      backdrop-filter: blur(10px);

      h3 {
        font-weight: 500;
        font-size: 0.8rem;
        text-align: center;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
      }
    }
  }

  &:hover {
    outline: 2px solid $primary;

    .nav-card-img {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      transition: 0.3s;
    }

    .nav-card-overlay {
      background: rgba(242, 111, 39, 0.01);
      box-shadow: 0px 0px 30px 1px rgba(242, 111, 39, 0.6) inset;
      transition: 0.3s;

      .nav-title {
        background-color: #323232b7;
        backdrop-filter: blur(20px);
        color: $primary;
        transition: 0.3s;

        h3 {
          text-shadow: none;
        }
      }
    }
  }
}
