$primary: #f26f27;
$secondary: #ff9d10;
$tertiary: #323232;
$background: white;

// =====================
// BUTTON TYPE 1
// =====================
.button-type-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: fit-content;
  height: 33px;
  padding: 0 1rem;
  font-family: "GilroyLight";

  border-radius: 20px;
  border: 1px solid $secondary;
  background: linear-gradient(270deg, $primary, $secondary);

  color: white;
  transition: 0.3s;

  svg {
    margin-left: 0.5rem;
  }

  &:hover {
    background: none;
    color: $primary;

    svg path {
      stroke: $primary;
      transition: 0.3s;
    }
  }

  &:active {
    box-shadow: 0px 0px 4px 0px $primary inset;
  }
}

// =====================
// BUTTON TYPE 2
// =====================
.button-type-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: fit-content;
  height: 33px;
  padding: 0 1rem;
  margin-right: 1rem;
  font-family: "GilroyLight";

  border-radius: 20px;
  border: 1px solid $primary;
  background: rgba(0, 0, 0, 0);
  color: $primary;
  transition: 0.3s;

  svg {
    margin-left: 0.5rem;

    path {
      stroke: $primary;
    }
  }

  &:hover {
    border-color: $secondary;
    background: linear-gradient(270deg, $primary, $secondary);
    color: white;

    svg path {
      stroke: white;
      transition: 0.3s;
    }
  }

  &:active {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.8) inset;
  }
}
