$primary: #f26f27;
$secondary: #f2a327;
$tertiary: #323232;
$background: white;

.home-carousel {
  position: relative;
  height: calc(100vh - 3rem);
  min-height: fit-content;
  overflow: hidden;

  .home-carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &.active {
      opacity: 1;
    }
  }

  .home-carousel-gradient {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: linear-gradient(to left, transparent 20%, black 150%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));

    .home-carousel-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: end;

      height: calc(100vh - 3rem);
      min-height: fit-content;
      max-width: 1366px;
      margin: auto;

      .home-carousel-text {
        display: none;
        flex-direction: column;
        width: 35%;
        margin: 8rem 3rem 8rem 3rem;
        opacity: 0;
        transition: opacity 1s ease-in-out;

        &.active {
          display: flex;
          opacity: 1;
          z-index: 2;
          width: 70%;
        }

        @media screen and (max-width: 1024px) {
          width: 100%;
          justify-content: center;
          align-items: center;
          margin-left: 0;
          text-align: center;
          margin-bottom: 5rem;
          padding: 0 2rem;

          &.active {
            display: flex;
            opacity: 1;
            z-index: 2;
            width: 100%;
          }
        }

        .home-carousel-title {
          font-size: 3rem;
          font-weight: 500;
          margin-bottom: 1rem;

          @media screen and (max-width: 1024px) {
            font-size: 2.5rem;
          }

          @media screen and (max-width: 768px) {
            font-size: 2rem;
            margin-bottom: 1rem;
          }
        }

        .home-carousel-desc {
          font-weight: 300;
        }

        .home-carousel-link-div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: fit-content;
          margin: 2rem 0 0 0;

          .home-carousel-link {
            margin-right: 1rem;
          }

          .link-arrow {
            position: relative;
            left: 0;
            transition: 0.2s;
          }
        }

        .home-carousel-link-div:hover {
          .link-arrow {
            fill: $secondary;
            transition: 0.2s;
            left: 10px;
          }
        }
      }

      .home-carousel-indicators {
        // position: absolute;
        // bottom: 3rem;
        // left: 50%;
        // transform: translateX(-50%);

        margin: 0 auto 3rem auto;
        display: flex;
        justify-content: space-around;
        width: 100%;

        .indicator {
          display: flex;
          width: 15%;
          height: 0.3rem;
          border: none;
          border-radius: 10px;
          background-color: rgba(255, 255, 255, 0.5);
          cursor: pointer;
          transition: 0.5s;

          &.active {
            // width: 20%;
            width: 40%;
            background: linear-gradient(270deg, $primary, $secondary);
            background-size: 200% 200%;
            animation: gradientAnimation 10s ease infinite;
          }
        }

        .indicator:hover {
          // width: 20%;
          background-color: white;
        }
      }
    }
  }
}

// Indicators Gradient Animation
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
