$primary: #f26f27;
$secondary: #f2a327;
$tertiary: #323232;
$background: white;

.pcmo-background {
  background-image: url("/products/pcmo-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .bg-gradient {
    // background-color: rgba(32, 32, 32, 0.2);
    // backdrop-filter: blur(1px);
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.2)
    );

    .pcmo-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //   align-items: space-between;
      //   gap: 20rem;

      max-width: 1366px;
      height: calc(100vh - 86px);
      margin: auto;
      padding: 7rem 3rem;

      .crumble {
        display: flex;
        align-items: center;

        span {
          color: $secondary;
          text-decoration: underline;
          text-decoration-thickness: 1px;
          text-underline-offset: 0.4rem;
        }
      }

      .text {
        z-index: 2;
        display: flex;
        flex-direction: column;

        width: 70%;
        // text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);

        .title {
          font-family: "GilroyMedium", sans-serif;
          font-size: 40px;
          background: linear-gradient(to right, $primary, $secondary);
          background-clip: $primary;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;

          span {
            color: $primary;
          }
        }

        .desc {
          font-size: 20px;
          text-align: justify;
          margin: 1rem 0;

          span {
            color: $primary;
          }
        }
      }
    }
  }
}

.product-section-background {
  background-color: #ececec;

  .product-section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //   align-items: space-between;
    gap: 5rem;

    max-width: 1366px;
    // min-height: calc(100vh - 86px);
    margin: auto;
    padding: 7rem 3rem;

    h2 {
      font-family: "GilroyMedium", sans-serif;
      font-size: 2.5rem;
      color: black;
    }

    .product-layout {
      display: flex;
      gap: 4rem;
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.product-pop-up {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  width: 35%;
  min-width: max-content;
  background-color: rgba(32, 32, 32, 0.95);
  backdrop-filter: blur(30px);

  z-index: 1300;

  padding: 1.5rem;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  .product-close-icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
  }
}
