.contact-section-background {
  background-color: #ececec;

  .contact-section-wrapper {
    position: relative;

    .test-modal {
      position: absolute;
      top: 46%;
      right: 26%;
      color: black;
    }
  }
}
