.product-card-wrapper {
  position: relative;
  margin-bottom: 3rem;

  .product-card {
    width: 100%;
    aspect-ratio: 3/4;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: 3px solid #a9a9a900;
    background-color: $light;
    cursor: pointer;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.05);

    .product-card-img {
      position: absolute;
      height: 70%;
      top: 0;
    }

    .product-card-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      border-radius: 30px;
      transition: 0.5s;

      &:hover {
        backdrop-filter: blur(5px);
        transition: 0.5s;

        .product-hover {
          visibility: visible;

          transition: 0.3s;
        }
      }

      .product-hover {
        visibility: hidden;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        color: $primary;

        .plus-icon {
          margin-left: 0.5rem;
        }
      }

      .product-title {
        position: absolute;
        bottom: 0;
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        gap: 0.5rem;

        background-color: #2f2f2fc5;
        backdrop-filter: blur(10px);

        text-align: center;
        color: white;
        transition: 0.3s;

        .card-desc {
          visibility: visible;
          display: block;
          transition: 0.3s;
        }

        .product-desc {
          visibility: hidden;
          display: none;
          transition: 0.3s;
        }

        .product-action {
          visibility: hidden;
          display: none;
          margin-top: 1rem;
          padding: 0.5rem 1rem;
          border-radius: 30px;
          border: 1px solid $primary;
          transition: 0.3s;
        }
      }
    }

    &:hover {
      border: 3px solid $primary;

      .product-card-overlay {
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0)
        );
        transition: 0.3s;

        .product-title {
          height: 100%;
          background-color: #323232dc;
          backdrop-filter: blur(20px);
          color: $primary;
          transition: 0.3s;

          h3 {
            color: $primary;
            text-shadow: none;
          }

          .card-desc {
            visibility: hidden;
            display: none;
            transition: 0.3s;
          }

          .product-desc {
            visibility: visible;
            display: block;
            transition: 0.3s;
          }

          .product-action {
            visibility: visible;
            display: block;
            transition: 0.3s;
          }
        }
      }
    }
  }
}

.product-type {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin: auto;
  color: #9c7008;
  background: linear-gradient(45deg, #ae8625, #f7ef8a);
  width: fit-content;
  padding: 0.3rem 1.3rem;
  border-radius: 20px;
  text-align: center;

  &.semi {
    background: linear-gradient(45deg, #727272, #a5a5a5);
    color: rgb(255, 255, 255);
  }

  &.premium {
    background: linear-gradient(45deg, #804a00, #9c7a3c);
    color: #ffc87d;
  }
}

.plus-icon-2 {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
