.carouselHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1366px;
  margin: auto;
  padding: 3rem;
  gap: 2rem;

  @media screen and (max-width: 768px) {
    padding: 1rem;
    gap: 1rem;
  }

  .carousel-title {
    color: #e0e0e0;
    text-align: center;
    margin: 2rem 0 0 0;
  }

  .carousel-title-home {
    color: #8a8a8a;
    text-align: center;
    margin: 2rem 0 0 0;

    span {
      background: #e0e0e0;
      background-clip: #e0e0e0;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }

  p {
    text-align: justify;
  }
}

.carousel-slider-container {
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1366px;
  margin: auto;
  padding: 3rem;
  margin-bottom: 2rem;

  @media screen and (max-width: 768px) {
    padding: 0;
  }

  .carousel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    background: none;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    z-index: 10;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    &:hover {
      svg path {
        stroke: $primary;
        transition: 0.3s;
      }
    }
  }

  .carousel-slider {
    display: flex;
    gap: 3rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 1.5rem;

    // Horizontal scrollbar styling
    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
      border-radius: 4px;
    }
  }
}
