$primary: #f26f27;
$secondary: #f2a327;
$tertiary: #323232;
$background: white;

.footer {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    margin: auto;

    .footer-segments {
      display: flex;
      justify-content: space-between;
      margin: 6rem 2rem 2rem 2rem;

      .footer-item {
        display: flex;
        flex-direction: column;

        h3 {
          margin: 5px 0;
        }

        a {
          margin: 3px 0;
        }

        span {
          margin: 5px 0;
        }
      }

      .footer-socials {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100px;
        height: 150px;

        a {
          height: fit-content;

          .socials-img {
            width: 40px;
          }
        }

        a:hover {
          .socials-img {
            filter: invert(67%) sepia(87%) saturate(825%) hue-rotate(341deg)
              brightness(99%) contrast(92%);
          }
        }
      }
    }

    .footer-copyright {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 2rem 2rem 2rem;

      span {
        color: #ffffff90;
      }

      .footer-logos {
        display: flex;
        justify-content: center;
        align-items: center;

        .footer-hyrax-logo {
          width: 50px;
          margin-right: 3rem;
        }

        .footer-hyraxoil-logo {
          width: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    .footer-wrapper {
      .footer-segments {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        margin: 2rem;

        .footer-socials {
          justify-content: space-between;
          width: 100%;
          height: fit-content;

          a {
            height: fit-content;

            .socials-img {
              width: 40px;
            }
          }

          a:hover {
            .socials-img {
              filter: invert(67%) sepia(87%) saturate(825%) hue-rotate(341deg)
                brightness(99%) contrast(92%);
            }
          }
        }
      }
    }
  }
}
