$primary: #f26f27;
$secondary: #ff9d10;
$tertiary: #323232;
$background: white;

.navbar {
  height: 70px;
  width: 100%;

  position: fixed;
  z-index: 1000;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;

    height: 100%;
    max-width: 1366px;
    margin: auto;
    margin-top: 16px;

    background-color: rgba(31, 31, 31, 0.75);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 90px;
    transition: 0.5s;

    &.active {
      width: 100%;
      height: 100vh;
      border-radius: 0;
      margin: 0px;
      transition: 0.5s;
    }

    .nav-logo {
      width: 80px;
    }

    ul {
      display: flex;
      justify-content: space-between;
      margin-right: 1rem;

      li {
        list-style-type: none;
        margin: 0 2rem;

        &:hover {
          text-decoration: underline;
          text-decoration-color: $secondary;
          text-underline-offset: 0.4rem;
          transition: 0.3s;
        }
      }

      .link-active {
        color: $secondary;
        text-decoration: underline;
        text-decoration-color: $secondary;
        text-underline-offset: 0.4rem;
        transition: 0.3s;
      }
    }

    .nav-buttons {
      display: flex;

      .button-type-2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-width: fit-content;
        height: 33px;
        padding: 0 1rem;
        margin-right: 1rem;
        font-family: "GilroyLight";

        border-radius: 20px;
        border: 1px solid $primary;
        background: rgba(0, 0, 0, 0);
        color: $primary;
        transition: 0.3s;

        svg {
          margin-left: 0.5rem;
        }

        &:hover {
          border-color: $secondary;
          background: linear-gradient(270deg, $primary, $secondary);
          color: white;

          svg path {
            stroke: white;
            transition: 0.3s;
          }
        }

        &:active {
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.8) inset;
        }
      }

      .button-type-1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-width: fit-content;
        height: 33px;
        padding: 0 1rem;
        font-family: "GilroyLight";

        border-radius: 20px;
        border: 1px solid $secondary;
        background: linear-gradient(270deg, $primary, $secondary);

        color: white;
        transition: 0.3s;

        svg {
          margin-left: 0.5rem;
        }

        &:hover {
          background: none;
          color: $primary;

          svg path {
            stroke: $primary;
            transition: 0.3s;
          }
        }

        &:active {
          box-shadow: 0px 0px 4px 0px $primary inset;
        }
      }
    }
  }

  .nav-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 990;

    .nav-overlay {
      position: absolute;
      width: max-content;
      height: max-content;
      top: 86px;
      left: 0;
      right: 0;
      margin-inline: auto;
      padding: 1.5rem 2rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0.7rem;

      background-color: rgba(31, 31, 31, 0.75);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(20px);
      border-radius: 0 0 34px 34px;

      .nav-overlay-logos {
        display: flex;
        gap: 1rem;
        .nav-overlay-logo {
          height: 30px;
        }
      }

      .nav-card-layout {
        display: flex;
        gap: 0.7rem;
      }
    }
  }
}

/* HamburgerIcon.scss */
.hamburger-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .hamburger-svg {
    fill: #000;
    transition: all 0.3s ease;

    .line {
      fill: #ffffff;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  }

  &.active {
    .line.top {
      transform: translateX(15px) translateY(-5px) rotate(45deg);
    }

    .line.middle {
      opacity: 0;
    }

    .line.bottom {
      transform: translateX(-35px) translateY(25px) rotate(-45deg);
    }

    nav {
      height: 100vh;
      width: 100vw;
    }
  }
}

@media screen and (max-width: 1024px) {
  .nav-list {
    display: none !important;
  }
  .nav-buttons {
    display: none !important;
  }
}

@media screen and (min-width: 1025px) {
  .hamburger-icon {
    display: none !important;
  }
}
