$primary: #f26f27;
$secondary: #ff9d10;
$tertiary: #323232;
$background: white;

// =====================
// NO SCROLL BODY
// =====================
.no-scroll {
  overflow: hidden;
  height: 100dvh;
}

// =====================
// NAVBAR
// =====================
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;

  height: 70px;
  max-width: 1366px;
  margin: auto;
  margin-top: 16px;

  background-color: rgba(31, 31, 31, 0.75);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 90px;
  transition: 0.5s;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .nav-logo {
    width: 80px;
    position: absolute;
    top: -5px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;

    li {
      list-style-type: none;
      margin: 0 2rem;

      &:hover {
        text-decoration: underline;
        text-decoration-color: $secondary;
        text-underline-offset: 0.4rem;
        transition: 0.3s;
      }
    }

    .link-active {
      color: $secondary;
      text-decoration: underline;
      text-decoration-color: $secondary;
      text-underline-offset: 0.4rem;
      transition: 0.3s;
    }
  }

  .nav-buttons {
    display: flex;
  }
}

// =====================
// NAV OVERLAY
// =====================
.nav-overlay {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;

  position: fixed;
  max-width: 1000px;
  width: fit-content;
  height: max-content;
  top: 86px;
  left: 0;
  right: 0;
  margin-inline: auto;
  padding: 1.5rem 2rem;

  z-index: 1100;

  background-color: rgba(31, 31, 31, 0.75);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 0 0 34px 34px;

  .nav-overlay-header {
    display: none;
    width: 100%;
  }

  .nav-overlay-logos {
    display: flex;
    gap: 1rem;
    .nav-overlay-logo {
      height: 30px;
    }
  }

  .nav-card-layout {
    display: flex;
    gap: 0.7rem;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

// MOBILE NAV HAMBURGER ICON
.hamburger-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 30px;

  .hamburger-svg {
    fill: #000;
    transition: all 0.3s ease;

    .line {
      fill: #ffffff;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  }

  &.active {
    .line.top {
      transform: translateX(15px) translateY(-5px) rotate(45deg);
    }

    .line.middle {
      opacity: 0;
    }

    .line.bottom {
      transform: translateX(-35px) translateY(25px) rotate(-45deg);
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    overflow: auto;
  }

  nav {
    &.active {
      width: 100%;
      height: 100dvh;
      border-radius: 0;
      margin: 0px;
      transition: 0.5s;

      padding: 1rem;
      overflow: auto;
    }
  }
  .nav-list {
    display: none !important;

    &.active {
      display: flex !important;
      flex-direction: column;
      gap: 3rem;
      // left: 0;
      // right: 0;
      // margin-inline: auto;

      position: absolute;
      left: 3rem;
      // top: 86px;
    }
    li {
      margin: 0 !important;
    }
  }
  .nav-buttons {
    display: none !important;
    &.active {
      display: flex !important;
      justify-content: center;
      // flex-direction: column;
      // gap: 2rem;

      position: absolute;
      bottom: 2rem;
      // right: 2rem;
      left: 0;
      right: 0;
      margin-inline: auto;
    }
  }

  .nav-overlay {
    min-width: 100%;
    height: calc(100dvh - 86px);
    display: flex;
    border-radius: 0%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-y: scroll;
    margin: 0;
    gap: 2rem;
    background: none;
    box-shadow: none;

    .nav-overlay-header {
      display: flex;
      width: 100%;
      align-items: center;

      .back-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        cursor: pointer;
        svg {
          fill: white;
        }
      }
    }

    .nav-card-layout {
      justify-content: center;
    }
  }

  .hamburger-icon {
    display: flex !important;
  }
}
