$primary: #f26f27;
$secondary: #f2a327;
$tertiary: #323232;
$background: white;

.companyProfileContent {
  .companyProfileHeader {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;

    hr {
      height: 2px;
      width: 30%;
      background: black;
      border: 1px solid black;
    }
  }

  p {
    text-align: justify;
  }
}
