.footer {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    margin: auto;

    .footer-segments {
      display: flex;
      justify-content: space-between;
      margin: 6rem 2rem 4rem 2rem;
      flex-wrap: wrap;
      gap: 2rem;

      .footer-item {
        display: flex;
        flex-direction: column;
        min-width: fit-content;
        gap: 0.7rem;
      }

      .footer-socials {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (max-width: 1024px) {
          flex-direction: row;
          width: 100%;
        }
      }
    }

    .footer-copyright {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 2rem 2rem 2rem;
      flex-wrap: wrap;
      gap: 2rem;

      @media screen and (max-width: 768px) {
        flex-direction: column;

        span {
          text-align: center;
        }
      }

      span {
        color: #ffffff90;
      }

      .footerLogoWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        flex-wrap: wrap;

        .footerLogo {
          width: 50px;
        }
      }
    }

    .back-to-top {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 40px;
      height: 40px;
      margin: auto;
      margin-bottom: 2rem;
      border-radius: 50%;
      border: 1px solid white;

      &:hover {
        border: 1px solid $secondary;
      }

      .back-to-top-hover {
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
        position: absolute;
        top: -2.5rem;
        width: 150px;
        height: 30px;
        border-radius: 25px;
        border: 1px solid $secondary;
        color: $secondary;

        @media screen and (max-width: 768px) {
          display: none;
          visibility: hidden;
        }
      }
    }
  }
}
