.historyWrapper {
  padding: 0;

  .historyContent {
    padding: 7rem 3rem;
    position: relative;

    @media screen and (max-width: 768px) {
      padding: 7rem 1rem;
    }

    .historyHeading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      gap: 1rem;
      width: 90%;
      text-align: center;
      align-self: end;
      margin-bottom: 3rem;

      p {
        text-align: justify;
      }
    }

    .historyCard {
      display: flex;
      justify-content: center;
      align-items: start;
      width: 100%;
      gap: 2rem;

      @media screen and (max-width: 768px) {
        gap: 1rem;
      }

      .historyCircle {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        min-width: 30px;
        min-height: 30px;
        background-color: $primary;
        border: 3px solid #f0f0f0;
        z-index: 500;
      }

      .historyText {
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        @media screen and (max-width: 768px) {
          gap: 0.5rem;
        }

        .historyTextWrapper {
          position: relative;
          display: flex;
          justify-content: start;
          flex-direction: column;
          max-width: 100%;
          padding-bottom: 1rem;
          border-bottom: 1px solid #f0f0f0;
          transition: 1s;
          gap: 1rem;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 0%;
            background-color: $secondary;
            transition: width 0.4s ease;
            pointer-events: none;
          }

          &:hover::after {
            width: 100%;
          }

          &:hover {
            // border-bottom: none;
            transition: 1s;
          }
          .historyYear {
            background: linear-gradient(to right, $primary, $secondary);
            background-clip: $primary;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            width: 100%;
          }

          .historyDesc {
            color: #323232;
          }
        }

        .historyImg {
          width: 100%;
          border-radius: 0 0 20px 0;

          // @media screen and (max-width: 768px) {
          //   width: 100%;
          // }
        }
      }
    }
  }
}

.hr-div {
  position: absolute;
  top: 0;
  left: 63px; // Adjust to match your circle's center
  width: 5px;
  height: 100%;
  background-color: $primary;
  transform: translateX(-50%);

  @media screen and (max-width: 768px) {
    left: 31px;
  }
}
