.sectionHeader {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: justify;
  gap: 2rem;

  h2 {
    text-align: start;
  }
}

.product-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 3rem;
  max-width: 100%;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    gap: 1rem;
  }

  @media screen and (max-width: 768px) {
    gap: 0.5rem;
  }
}

.productFeaturesLayout {
  display: flex;
  gap: 0.7rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
