.BODSection {
  background-color: #ececec;

  .BODsectionwrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //   align-items: space-between;
    gap: 5rem;

    max-width: 1366px;
    // min-height: calc(100vh - 86px);
    margin: auto;
    padding: 7rem 3rem;

    @media screen and (max-width: 1024px) {
      padding: 7rem 1rem;
    }

    .BODSectionHeader {
      display: flex;
      align-items: center;
      gap: 2rem;

      h2 {
        color: black;
      }

      hr {
        height: 2px;
        width: 30%;
        background: black;
        border: 1px solid black;
      }
    }

    p {
      color: $dark;
      text-align: justify;
    }

    .BOD-layout {
      display: flex;
      gap: 4rem;
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
