.poweringUpSectionContent {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-self: start;
    text-align: start;
    gap: 2rem;
    width: 40%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    .sectionTag {
      width: fit-content;
      background-color: #e3e3e3;
      padding: 0.3rem 0.8rem;
      border-radius: 1rem;
    }

    .desc {
      text-align: justify;
    }
  }

  .poweringUpSectionLayout {
    display: flex;
    gap: 0.7rem;
    justify-content: start;

    .pageSectionWrapper {
      width: 100%;
    }
  }
}
