.bestLubricantsContent {
  flex-direction: column;
  .home-sec1-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
    color: #323232;
    margin: auto;
    text-align: center;

    .home-sec1-title {
      background: linear-gradient(to right, $primary, $secondary);
      background-clip: $primary;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }

    .home-sec1-desc {
      text-align: justify;

      span {
        background: linear-gradient(to right, $primary, $secondary);
        background-clip: $primary;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  .home-sec1-img {
    width: 100%;
  }

  .home-sec1-video {
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}
