.bestLubricantsContent {
  flex-direction: column;

  .home-sec1-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #323232;
    margin: auto;
    width: 100%;
    text-align: start;

    .home-sec1-desc {
      text-align: justify;
      width: 60%;

      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }
  }

  .homeSectionLayout {
    //   color: white;
    display: flex;
    gap: 0.7rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .home-sec1-img {
    width: 100%;
  }

  .home-sec1-video {
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}
